.env

#---- Scala -----
# sbt build artifacts
target/

# IDE tools
.bsp
.bloop
.metals
#--------------

#---- Clojure -----
.clj-kondo
.lsp
#--------------

#---- node.js -----
node_modules/
#--------------

#---- Rust -----
target
#--------------

#---- mac -----
.DS_Store
#--------------

#--- Terraform ---
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
.tfplan
#-----------------

#----- Elixir ----
_build/
# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
guess_the_number-*.tar

# Temporary files, for example, from tests.
/tmp/

#-----------------

